<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>miageEmploi</display-name>
  <servlet>
  	<servlet-name>authentification</servlet-name>
  	<servlet-class>com.miage.projet.web.authentification</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>authentification</servlet-name>
  	<url-pattern>*.html</url-pattern>
  </servlet-mapping>
</web-app>
	